/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: grey;
    margin: 0px auto;
    padding: 10px;
}
#header{
    min-height: 150px;
    background-color: purple;
}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: pink;
    display: inline-block;
    margin-top: 10px;
}
#main_content{
    min-height: 400px;
    width: 735px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}
.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    
}
#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: green;
    margin-top: 10px;
    margin-left: 10px;
}
